---
title: About
layout: page
---
<p>
	<img alt="Profile Image" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
</p>

<p>
	I am Jahirul Islam, currently working as a Software Engineer at Fiftywo Digital Ltd. Before that I was a Software Engineer
	at Enosis Solutions.
</p>

<p>I graduated from East West University in Computer Science & Engineering.</p>

<p>This page will gradually get updated (hopefully) with new contents </p>

<h2>Skills</h2>

<p class="subheading" style="margin-bottom: 5px;">From most familiar to the least, sort of ..</p>

<div class="skill-list" id="skill-list">
	{% for skill in site.data.skills %}
		<button class="skill-title"> {{skill.title}} </button>
		<div class="skill-description-container"> 
            <p class="skill-description-text"> {{skill.description}} </p>
        </div>
	{% endfor %}
</div>


<h2>Projects</h2>

<ul>
	<li><a href="https://copo.jahir.me">OBE Management</a></li>
</ul>